/* Header Logo Style */
.logo {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--red);
  padding: 20px;
}

.logo h1 {
  margin: 0;
  padding: 0;
  display: inline-block;
  transform: perspective(300px) rotateY(5deg);
  transition: transform 0.3s ease-in-out;
}

.logo:hover h1 {
  transform: perspective(300px) rotateY(-10deg);
}
